In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df = pd.read_csv('road_accident_one_hot_encoding_conversion.csv')
df.shape

(184224, 30)

In [4]:
df.drop('Kilometer', axis=1,inplace = True)

In [5]:
df.head()

,Unnamed: 0,Highway number,Accident cause,Accident classfication,Weekday,Climate,Moment of the day,Injured,Number of light injured,Number of people without info,...,Road type,Road layout,State,Soil use,Total cars,Hour,Year,Month,Day,target
0,0,376.0,23,1,7,15,5,1,0,0,...,4,9,17,0,1,0,2017,1,1,1
1,1,101.0,18,2,7,15,5,0,0,0,...,0,3,23,0,1,0,2017,1,1,0
2,2,153.0,4,1,7,5,5,2,2,0,...,4,9,17,0,1,0,2017,1,1,1
3,3,153.0,26,1,7,2,5,1,0,0,...,0,9,8,3,1,0,2017,1,1,1
4,4,280.0,2,1,7,15,5,1,1,0,...,4,5,23,0,1,0,2017,1,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184224 entries, 0 to 184223
Data columns (total 29 columns):
Unnamed: 0                       184224 non-null int64
Highway number                   184078 non-null float64
Accident cause                   184224 non-null int64
Accident classfication           184224 non-null int64
Weekday                          184224 non-null int64
Climate                          184224 non-null int64
Moment of the day                184224 non-null int64
Injured                          184224 non-null int64
Number of light injured          184224 non-null int64
Number of people without info    184224 non-null int64
Number of people not harmed      184224 non-null int64
latitude                         89518 non-null float64
longitude                        89518 non-null float64
Deaths                           184224 non-null int64
city                             184224 non-null int64
Total people                     184224 non-null int64
regional                         184224 non-null int64
Road way                         184224 non-null int64
Accident type                    184224 non-null int64
Road type                        184224 non-null int64
Road layout                      184224 non-null int64
State                            184224 non-null int64
Soil use                         184224 non-null int64
Total cars                       184224 non-null int64
Hour                             184224 non-null int64
Year                             184224 non-null int64
Month                            184224 non-null int64
Day                              184224 non-null int64
target                           184224 non-null int64
dtypes: float64(3), int64(26)
memory usage: 40.8 MB

In [7]:
df.shape

(184224, 29)

In [8]:
df.drop_duplicates(inplace = True)

In [9]:
df.shape

(184224, 29)

In [10]:
df = df.fillna(0)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184224 entries, 0 to 184223
Data columns (total 29 columns):
Unnamed: 0                       184224 non-null int64
Highway number                   184224 non-null float64
Accident cause                   184224 non-null int64
Accident classfication           184224 non-null int64
Weekday                          184224 non-null int64
Climate                          184224 non-null int64
Moment of the day                184224 non-null int64
Injured                          184224 non-null int64
Number of light injured          184224 non-null int64
Number of people without info    184224 non-null int64
Number of people not harmed      184224 non-null int64
latitude                         184224 non-null float64
longitude                        184224 non-null float64
Deaths                           184224 non-null int64
city                             184224 non-null int64
Total people                     184224 non-null int64
regional                         184224 non-null int64
Road way                         184224 non-null int64
Accident type                    184224 non-null int64
Road type                        184224 non-null int64
Road layout                      184224 non-null int64
State                            184224 non-null int64
Soil use                         184224 non-null int64
Total cars                       184224 non-null int64
Hour                             184224 non-null int64
Year                             184224 non-null int64
Month                            184224 non-null int64
Day                              184224 non-null int64
target                           184224 non-null int64
dtypes: float64(3), int64(26)
memory usage: 42.2 MB

In [11]:
df.to_csv('Preprocessed_Dataset.csv')